<%- include ('header.ejs') %>

<section id="output">
  <div class="outputBox container">

    <h3 class="monsterName"><%=monName%></h3>

    <p class="">
      <i class="tags">
        <%=monOrgSize%>
      </i>
    </p>

    <p>
      <span class="atkName">
        <%=monAtkName%>
      </span>
      <span class="atkDmg">
        (<%=dmg%>)
      </span>
      <!--
      --><span class="atkRange">
        <%=range%>
      </span>
      <!--
      --><span class="atkTag">
        <%=atkTags%>
      </span>
    </p>
    <!-- comment used to remove whitespace between spans -->

    <p>
      <span class="hitPoints">
        <%=monHp%>
      </span>
      <span class="hpTxt">TP, </span>
      <span class="armTxt">Rüstung: </span>
      <span class="armor">
        <%=monArm%>
      </span>
    </p>

    <p>
      <strong class ="specTxt">Besonderheit: </strong>
      <span class="specialTags"> <%=monTags%></span>
    </p>

    <p>
      <i class="instinctTxt">Instinkt: </i>
      <span class="instinctOutput"><%=instinct%></span>
    </p>
    <div class="moveOutput">
      <%for (mov of monMovs){%>
        <%if (mov !== ""){%>
          <span class="move">- <%=mov%></span><br />
      <%}}%>
    </div>

    <button onClick="window.location.href=window.location.href">Zurück</button>

    <button type="button" name="button" onClick="copyToClipboard();">Kopieren</button>


  </div>

</section>

<%- include ('footer.ejs') %>
